
@{
    ViewData["Title"] = "About";
}

<h3>CV</h3>
<h4> Madiha Gul, 910227</h4>
<p>
    Adress: Göteborg <br />Mobil: 07x-000 000<br />
    E-mail: x@gmail.com<br />LinkedIn: https://www.linkedin.com/in/madiha-gul-b25a30108/ <br />
    GitHub: https://github.com/MadihaGul
</p>

<h3> IT-KUNSKAPER</h3>
<p>
    Mjukvara: <br />
    Programspråk: C# .Net, SQL <br />
    Operativsystem: Microsoft Windows <br />
    IT-verktyg: Microsoft Visual Studio, Microsoft SQL Server, Microsoft Office <br />
    Webb: JavaScript.
</p>
<h3> UTBILDNING</h3>
<p>
    <h5> 2021 - 2021 Pågående Utbildning Lexicon Yrkesutbildning i Väst</h5><br />
    Kursinnehåll:<br />
    ▪ C#<br />
    ▪ SQL<br />
    ▪ Azure<br />
    <h5>2009 - 2013 BS Electrical (Computer) Engineering COMSATS Insitute of Information Technology</h5><br />
    Utbildningen motsvarar högskoleingenjörsexamen inriktad mot elektronik och datorteknik. Jag
    studerade programmering, datakommunikation och nätverk bland andra teknologikurser.
</p>
<h3> UTBILDNING</h3>
<p>
    <h5> 2014 - 2018 Systemadministratör AWT Pakistan</h5><br />
    Kursinnehåll:<br />
    ▪ C#<br />
    ▪ SQL<br />
    ▪ Azure<br />
    Jag jobbade med webbapplikation och använde C# och SQL programmeringsspråk. Det används av bolags personal som jobbar i fyra olika orter i Pakistan. Mina arbetsuppgifter var att underhålla mjukvaran och förbättra enligt nya krav från företags ledning eller personal.

</p>
<h3>SPRÅK</h3>
<p>
    Urdu Modersmål<br />
    Engelska Mycket goda kunskaper i tal och skrift<br />
    Svenska Goda kunskaper i tal och skrift<br />
</p>
<h3>ÖVRIGA MERITER</h3>
<p>
 
    
    • Körkort B
    • Berättigad till Praktik, Introduktions-& Nystartsjobb


</p>

