@{ ViewData["Title"] = "Index";}

<h2>Welcome to my MVC project</h2>


@if (User.Identity.IsAuthenticated)
{<p> <h5>Logged in</h5></p>}

@if (!User.Identity.IsAuthenticated)
{<p> <h5>Not Logged in</h5></p>}

@if (User.IsInRole("Admin"))
{<p>Hello Admin</p>}
@if (User.IsInRole("User"))
{<p>Hello User</p>}

<p>
    About shows CV<br />
    Contact shows contact details<br />
    Project shows links to differnt projects
</p>