
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<p>
    <a href="https://github.com/MadihaGul/CalculatorApp">Calculator</a>
    Calculator designed to perform basic mathematical operations. <br />
    <br />
    <a href="https://github.com/MadihaGul/Hangman_CSharp">Hangman</a>
    It is a game to guess the right word in a number of tries. Player loses if all the tries are consumed without guessing right word <br />
    <br />
    <a href="https://github.com/MadihaGul/Vending_Machine">Vending Machine</a>
    Basic implementation of vending machine to add money in specific money denominations and buy desired product if the money is enough. Vending machine then displays message to use the purchased product and returns the balance to user. <br />
    <br />
    <a href="https://github.com/MadihaGul/Sokoban_Game">Sokoban</a>
    A game developed in javascript, where player moves the boxes to goals in order to win.<br />
    <br />
    <a href="https://github.com/MonikaVyas1989/Todo_app">ToDo_App</a>
    A team project developed by two classfellows where both developers worked on different parts of project. <br />
    <br />
    <a href="https://github.com/MadihaGul/HTML-CSS-Fundamentals">Frontend Basics</a>
    This project implements basic HTML and CSS concepts. <br />


</p>