
<div>
    <h2>@ViewBag.Title</h2>

    <div id="errorMessage">

    </div>
    <input type="button" class="btn btn-primary" onclick="getAllPeople()" value="People" />

    <label for="PeopleInputIdLabel">Person Id</label>
    <input id="PeopleInputId" type="number" />

    <input type="button" class="btn btn-primary" onclick="getPeopleById()" value="Details" />

    <input type="button" class="btn btn-primary" onclick="deleteById()" value="Delete" />

    <div id="PeopleList">

    </div>

</div>